
<table>
<div id="<%= dom_id database1 %>">
  <p>
    <strong>First name:</strong>
    <%= database1.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= database1.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= database1.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= database1.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    
    <%= database1.twitter %>
  </p>

</div>
</table>